.newSong{
    width: 25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 1rem;
}
.control{
    padding-right: 1rem;
}
.control label{
    font-weight: 700;
    font-size: 1rem;
    color: #044599;
}
.control input{
    padding-left:1rem;
    height: 44px;
    margin:0.7rem 0;
    font-size: 1rem;
    color: #044599;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    background-color: #e8e0e0;
}
.control input:focus{
    outline-style: none;
    background-color: rgb(207, 240, 240);
 }

.newSong h1{
  margin: auto;
  color: #044599;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.addSong button{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    height: 2.5rem;
    color: white;
    background-color: #044599;
    width:100%;
    border-radius: 12px;
    border-style: none;
    padding: 0.5rem;   
}
@media(max-width : 550px){
    .newSong{
        width : 80%;
    }
}
.invalidControl{
    padding-right: 1rem;
}
.invalidControl label{
    font-weight: 700;
    font-size: 1rem;
    color: #044599;
}
.invalidControl input{
    padding-left:1rem;
    height: 44px;
    margin-top:0.7rem;
    font-size: 1rem;
    color: #044599;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    background-color: rgba(185, 16, 16, 0.4);
}
.invalidControl input:focus{
    outline-style: none;
}
.formError{
   padding-left: 0.5rem;
   color : rgb(233, 69, 69);
   font-size: small;
}
button:disabled,
button:disabled:hover,
button:disabled:active{
cursor: not-allowed;
background-color:rgba(4,69,153,0.6);
color: white;
border-color: #ccc;
}

